<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrijavaKorisnika.Properties.Settings.slastikaConnectionString1"
            connectionString="server=127.0.0.1;user id=manager;database=slastika;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="PrijavaKorisnika.Properties.Settings.slastikaConnectionString"
            connectionString="server=127.0.0.1;user id=manager;password=manager;database=slastika;allowuservariables=Truepersistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="PrijavaKorisnika.Properties.Settings.slastikaConnectionString1"
            connectionString="server=127.0.0.1;user id=manager;database=slastika;password=manager;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="PrijavaKorisnika.Properties.Settings.slastikaConnectionString2"
            connectionString="server=127.0.0.1;user id=manager;database=slastika;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>